
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<div class="content">

    @Html.Action("PageHeader")
    

    <section id="product1" class="section-p1">

        @Html.Action("Products")
      
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-long-arrow-right"></i></a>


    </section>



</div>

