
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="page-header" class="about-header">
    <h2>#bizitaniyin</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quae! </p>

</section>

<section id="about-head" class="section-p1">
    <img src="/WebSite/img/about/a6.jpg" alt="">
    <div>
        <h2>Biz Kimiz?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores excepturi, tempore consequuntur harum, eius
            laudantium nisi quidem ex nihil, placeat neque officiis
            modi tempora ipsa sapiente tenetur qui. Eveniet, eligendi,
            animi doloribus quas accusamus soluta, explicabo ut
            provident magni fuga reiciendis. At reiciendis
            necessitatibus labore corporis
            dolor voluptatibus, aliquam sit.
        </p>
        <abbr title="">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Molestias quae repudiandae ullam
            id nostrum eveniet. Laborum sit quisquam nobis, nulla
            aperiam eaque. Harum cum necessitatibus velit tenetur
            repellat error possimus!
        </abbr>
        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Esse ratione corrupti
            labore unde eveniet odit soluta.
            Voluptatem iste alias delectus.
        </marquee>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Uygulamamızı indirmek için <a href="#">tıkla</a></h1>
    <div class="video">
        <video autoplay muted loop src="~/WebSite/img/about/1.mp4"></video>
    </div>
</section>


